
.faq-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.faq h2 {
    font-size: 2rem;
}
.questions {
  border: none;
  box-shadow: 0 0 10px lightgrey;
  border-radius: 1rem;
  max-width: 60rem;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
}
.faq hr {
    width: 150px;
    margin-top: 1rem;
    height: 0.3rem;
    background: #000;
  }
  .questions h4 {
    font-size: 1.4rem;
  }
  .questions p{
    font-size: 1.2rem;
  }
