

.hero-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.hero-left img {
  width: 55%;
  margin-bottom: 5rem;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.hero h1 {
  font-size: 3rem;
  text-align: center;
  color: #3f3f46;
  margin-top: 7rem;
}
.hero p {
  font-size: 1.7rem;
  text-align: center;
  margin: 2rem;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-size: 1.6rem;
  color: #fff;
  background: dodgerblue;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .hero-left,
  .hero-right {
    width: 50%;
  }
  .hero-left img {
    margin-top: 5rem;
    width: 80%;
  }
  .hero-right h1 {
    margin-top: 0;
  }
}
